* {
    -webkit-overflow-scrolling: touch;
}

*,
html,
body {
    font-family: 'Work Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html,
nav,
main,
section,
footer ul li {
    background: hsl(200, 16%, 98%);
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
    -ms-overflow-style: none;
    height: 100%;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: none !important;
}

body {
    margin: 0;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: none !important;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: none !important;
    visibility: hidden;
    opacity: 0;
    display: none;
}

footer,
nav,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(:root) {
    overflow: visible;
}

::selection {
    background: hsl(200, 16%, 6%);
    color: hsl(200, 16%, 98%);
    text-shadow: none;
}

::-moz-selection {
    background: hsl(200, 16%, 6%);
    color: hsl(200, 16%, 98%);
    text-shadow: none;
}

.landing-page-main ul {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 24px;
}

main {
    width: 100%;
    max-width: none;
    margin: 0 auto;
}

svg {
    display: block;
}

html {
    font-size: 16px;
    line-height: 1.75;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.landing-page-main {
    position: relative;
    width: 100%;
    height: 100%;
    top: -7rem;
    left: 0;
    padding: 0;
}

.landing-page-text-block {
    width: 100%;
    max-width: 736px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: calc(50% + 48px);
    transform: translate(-50%, -50%);
    padding: 2rem;
}

nav {
    height: 7rem;
    top: 0;
    left: 0;
    position: relative;
    z-index: 10;
    width: 100%;
    background: transparent;
}

.inner_nav_container {
    width: 100%;
    height: 7rem;
    max-width: 1440px;
    padding: 0 1.5rem 0 2rem;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0;
    margin: 0;
    line-height: 1;
}

nav ul li:not(:first-child) {
    padding: 0 0 0 1.5rem;
}

nav ul li a {
    position: relative;
    display: block;
    font-size: 1rem;
    line-height: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

nav ul li a:focus {
    box-shadow: 0 0 0 0.125rem hsla(200, 100%, 50%, 0.5);
}

nav ul li a::before {
    content: '';
    top: -1.375rem;
    width: 4rem;
    left: 50%;
    transform: translateX(-50%);
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: transparent;
    position: absolute;
}

nav .active,
nav u li a:active {
    color: hsl(200, 16%, 6%);
}

nav .active::before {
    background-color: hsl(220, 100%, 50%);
}

nav ul li a:hover::before {
    background-color: transparent;
}

nav .active:hover {
    cursor: default;
    color: hsl(200, 16%, 6%);
}

nav .active:hover::before {
    background-color: hsl(220, 100%, 50%);
}

.nav-logo {
    position: relative;
}

.landing-page-main h1 {
    position: relative;
    padding: 0;
    margin: 0 0 0 -3px;
}

.landing-page-main p {
    margin: 16px 0 0 -2px;
    padding: 0;
}

h1 {
    clear: both;
    color: hsl(200, 16%, 6%);
    letter-spacing: 0.0125rem;
    line-height: 4rem;
    font-weight: 900;
    font-size: 3.75rem;
}

h2 {
    font-size: 1.875rem;
}


h3 {
    font-size: 1.5rem;
}

h2,
h3,
h4,
p,
li a {
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    color: hsl(200, 12%, 36%);
    letter-spacing: -0.015rem;
    line-height: 1.4;
}

li a {
    color: hsl(220, 100%, 50%);
}

li a:hover,
li a:focus {
    color: hsl(200, 16%, 6%);
    text-decoration: none;
}

.landing-page-main ul {
    margin: 48px 0 0 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0;
    line-height: 1rem;
}

.landing-page-main ul li {
    margin: 0 0 0 -1px;
    letter-spacing: -0.005rem;
}

.landing-page-main ul li:not(:last-child) {
    margin-bottom: 32px;
}

.home-page-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
}

.home-page-link svg {
    display: block;
    margin-left: 8px;
    margin-bottom: 3px;
    stroke: hsla(200, 100%, 72%);
    stroke-width: 2px;
    stroke-linecap: round;
}

.home-page-link:hover span {
    color: hsl(200, 16%, 6%);
}

.home-page-link:hover svg {
    stroke: hsl(220, 100%, 50%);
    text-decoration: none;
}

footer {
    position: fixed;
    z-index: 9;
    right: 1.5rem;
    bottom: 1.5rem;
    padding: 0;
    margin: 0;
    height: 32px;
}

footer ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 8px;
    border-radius: 16px;
}

footer ul li:not(:first-child) {
    margin: 0 0 0 8px;
}

.footer_icon_dribbble {
    fill: hsl(320, 88%, 60%);
}

.footer_icon_twitter {
    fill: hsl(210, 100%, 52%);
}

.footer_icon_github {
    fill: hsl(264, 100%, 40%);
}

footer ul li a:hover>svg path {
    fill: hsl(200, 16%, 6%);
}

.tools_main {
    position: relative;
    top: -7rem;
    margin: 0 0 7rem;
}

.tools_hero {
    position: relative;
    width: 100%;
    padding: 14rem 0 7rem;
    background: hsl(210, 100%, 72%);
    background-image: linear-gradient(155deg, hsl(190, 100%, 64%) 0%, hsl(200, 100%, 88%) 100%);
}

.tools_intro,
.tools_section,
.tools_category {
    margin: 0 auto;
    max-width: 992px;
}

.tools_intro {
    padding: 8rem 2rem 0;
}

.tools_category {
    padding: 4rem 2rem 0;
    position: relative;
}

.tools_category h2 {
    color: hsl(200, 16%, 6%);
}

.tools_section {
    padding: 4rem 2rem;
    position: relative;
}

.tools_category::before,
.hardware_section::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 0.125rem;
    border-radius: 0.0625rem;
    background-color: hsla(200, 24%, 50%, 0.5);
}

.tools_category::before {
    top: 0;
}

.hardware_section::after {
    bottom: 0;
}

.tools_section h3 {
    margin-bottom: 1.5rem;
}

.tools_hero h1 {
    text-align: center;
}

.tools_hero h1,
.tools_hero p {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 2rem;
    color: hsl(200, 24%, 16%);
}

.tools_hero p {
    margin: 2rem auto 0;
    max-width: 720px;
}

.tools_card_container {
    display: inline-flex;
    flex-wrap: wrap;
}

.tools_card {
    display: flex;
    flex-direction: column;
    margin: 0 0 4rem 0;
    max-width: 400px;
}

.tools_card:nth-child(odd) {
    margin-right: 8rem;
}

.tools_card figure,
.tools_card figure svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tools_card figure svg {
    max-width: 400px;
}

.tools_card figure {
    max-width: 400px;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
}

.tools_card a:hover figure {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    box-shadow: 0 8px 32px 0 hsla(200, 16%, 6%, 0.24), 0 4px 8px 0 hsla(200, 16%, 6%, 0.08);
}

.tools_card_title_container {
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.tools_card_title_container h4,
.tools_card_title_container a {
    line-height: 1;
    padding: 0;
    margin: 0;
}

.tools_card_title_container h4 {
    color: hsl(200, 16%, 6%);
    font-size: 1.25rem;
}

.tools_card_title_container a {
    color: hsl(220, 100%, 50%);
    text-align: right;
}

.hardware_tool h3,
.hardware_tool h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.hardware_tool h3 {
    font-size: 0.625rem;
    margin-bottom: 0.125rem;
}

.tools_card_text_container p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 1.25rem;
    margin-bottom: 0;
}

.tools_card_text_container a {
    color: hsl(220, 100%, 50%);
}

.tools_card_text_container ul,
.tools_card_text_container ul li {
    padding: 0;
    margin: 0;
}

.tools_card_text_container ul {
    list-style: none;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.tools_card_text_container ul li {
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    position: relative;
    line-height: 1.25rem;
}

.tools_card_text_container ul li::before {
    content: '';
    position: absolute;
    left: -1.25rem;
    top: 0.375rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: hsla(200, 100%, 50%, 0.5);
    border-radius: 0.25rem;
}

@media screen and (max-width: 992px) {
    .tools_card:nth-child(2n+1) {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 800px) {
    nav {
        background: hsl(200, 16%, 98%);
        position: fixed;
    }

    .landing-page-main {
        top: 0;
    }

    .tools_main {
        margin: 7rem 0;
        top: 0;
    }

    .tools_hero {
        padding: 7rem 0;
    }

    .tools_card_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
    }

    .tools_card:nth-child(2n+1) {
        margin-right: unset;
    }

    .tools_card {
        margin: 0 0 4rem;
    }

    .tools_card figure,
    .tools_card figure svg {
        width: 100%;
        max-width: none;
    }

    .tools_card a:hover figure {
        transform: none;
        -webkit-transform: none;
    }
}

/* Dark Mode Styling */

@media (prefers-color-scheme: dark) {

    body,
    html,
    main,
    section,
    footer ul li {
        background: hsl(200, 16%, 6%);
    }

    p {
        color: hsl(200, 16%, 52%);
    }

    .tools_hero {
        background: hsl(220, 100%, 24%);
        background-image: linear-gradient(155deg, hsl(210, 100%, 16%) 0%, hsl(230, 100%, 32%) 100%);
    }

    .tools_hero h1,
    .tools_hero p {
        color: hsl(200, 16%, 98%);
    }

    li a,
    li a:focus {
        color: hsl(220, 100%, 50%);
        text-decoration: none;
    }

    .home-page-link svg {
        stroke: hsl(210, 100%, 24%);
    }

    .home-page-link:hover svg {
        stroke: hsl(200, 100%, 48%)
    }

    ::selection {
        background: hsl(200, 16%, 98%);
        color: hsl(200, 16%, 6%);
    }

    a::selection {
        background: hsl(220, 100%, 50%);
        color: hsl(200, 16%, 98%);
    }

    ::-moz-selection {
        background: hsl(200, 16%, 98%);
        color: hsl(200, 16%, 6%);
    }

    nav .active,
    nav u li a:active,
    nav .active:hover,
    nav li a:hover,
    li a:hover,
    h1,
    h3,
    h4,
    .home-page-link:hover span,
    p span {
        color: hsl(200, 16%, 98%);
        text-decoration: none;
    }

    .tools_category h2, h2 {
        color: hsl(200, 16%, 84%);
    }

    .tools_card_title_container h4 {
        color: hsl(200, 24%, 92%);
    }

    .tools_card_title_container a:hover,
    .tools_card_text_container a:hover {
        color: hsl(200, 16%, 98%);
    }

    .tools_card_text_container p,
    .tools_card_text_container ul {
        color: hsl(200, 24%, 76%);
    }

    footer ul li a:hover>svg path {
        fill: hsl(200, 16%, 98%);
    }
}

@media (prefers-color-scheme: dark) and (max-width: 800px) {
    nav {
        background: hsl(200, 16%, 6%);
        position: fixed;
    }
}

@media screen and (max-height: 568px) {
    .landing-page-text-block {
        position: relative;
        top: 112px;
        left: unset;
        transform: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 440px) {
    nav {
        padding: 0 32px;
    }

    .landing-page-text-block {
        padding: 32px;
    }
}