* {
    -webkit-overflow-scrolling: touch;
}

*,
html,
body {
    font-family: 'Work Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html,
nav,
main,
section,
footer ul li,
.recent_work_image_container {
    background: hsl(200, 16%, 98%);
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
    -ms-overflow-style: none;
    height: 100%;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: none !important;
}

body {
    margin: 0;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: none !important;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: none !important;
    visibility: hidden;
    opacity: 0;
    display: none;
}

footer,
nav,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(:root) {
    overflow: visible;
}

::selection {
    background: hsl(200, 16%, 6%);
    color: hsl(200, 16%, 98%);
    text-shadow: none;
}

::-moz-selection {
    background: hsl(200, 16%, 6%);
    color: hsl(200, 16%, 98%);
    text-shadow: none;
}

.home_main ul {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 24px;
}

main {
    width: 100%;
    max-width: none;
    margin: 0 auto;
}

svg {
    display: block;
}

html {
    font-size: 16px;
    line-height: 1.75;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
}

.home_main {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
}

.home_hero_text_block {
    width: 100%;
    margin: 0 auto;
    max-width: 760px;
    padding: 2rem;
}

nav {
    height: 7rem;
    top: 0;
    left: 0;
    position: relative;
    z-index: 10;
    width: 100%;
    background: transparent;
}

.inner_nav_container {
    width: 100%;
    height: 7rem;
    max-width: 1440px;
    padding: 0 1.5rem 0 2rem;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0;
    margin: 0;
    line-height: 1;
}

nav ul li:not(:first-child) {
    padding: 0 0 0 1.5rem;
}

nav ul li a {
    position: relative;
    display: block;
    font-size: 1.375rem;
    line-height: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

nav ul li a:focus {
    box-shadow: 0 0 0 0.125rem hsla(200, 100%, 50%, 0.5);
}

nav ul li a::before {
    content: '';
    top: -1.375rem;
    width: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 0.25rem;
    border-radius: 0.125rem;
    background-color: transparent;
    position: absolute;
}

nav .active,
nav u li a:active {
    color: hsl(200, 16%, 6%);
}

nav .active::before {
    background-color: hsl(220, 100%, 50%);
}

nav ul li a:hover::before {
    background-color: transparent;
    cursor: auto;
}

nav .active:hover {
    cursor: default;
    color: hsl(200, 16%, 6%);
}

nav .active:hover::before {
    background-color: hsl(220, 100%, 50%);
}

.nav_logo {
    position: relative;
}

.home_main h1 {
    padding: 0;
    margin: 0 0 0 -3px;
}

.home_main p {
    margin: 16px 0 0 -2px;
    padding: 0;
}

h1 {
    clear: both;
    color: hsl(200, 16%, 6%);
    letter-spacing: 0.0125rem;
    line-height: 4rem;
    font-weight: 900;
    font-size: 3.75rem;
}

h2 {
    font-size: 1.875rem;
    letter-spacing: -0.0125rem;
}


h3 {
    font-size: 1.5rem;
    letter-spacing: -0.0125rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: -0.0125rem;
}

h2,
h3,
h4,
p,
li a {
    font-weight: 500;
}

p {
    font-size: 1.25rem;
    color: hsl(200, 12%, 28%);
    letter-spacing: -0.015rem;
    line-height: 1.4;
}

li a,
.home_hero_link {
    color: hsl(220, 100%, 50%);
}

li a:hover,
li a:focus {
    color: hsl(200, 16%, 6%);
    text-decoration: none;
}

.home_main ul {
    margin: 48px 0 0 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0;
    line-height: 1rem;
}

.home_main ul li {
    margin: 0 0 0 -1px;
    letter-spacing: -0.005rem;
}

.home_main ul li:not(:last-child) {
    margin-bottom: 32px;
}

.home_hero_link {
    display: inline-flex;
    align-items: center;
    font-size: 1.25rem;
    text-decoration: none;
}

.home_hero_link svg {
    display: block;
    margin-left: 8px;
    margin-bottom: 3px;
    stroke: hsla(200, 100%, 72%);
    stroke-width: 2px;
    stroke-linecap: round;
    fill: transparent;
}

.home_hero_link:hover span,
.tools_card_title_container a:hover,
.tools_card_text_container a:hover {
    color: hsl(200, 16%, 6%);
}

.home_hero_link:hover svg {
    stroke: hsl(220, 100%, 50%);
    text-decoration: none;
}

.home_recent_work {
    width: 100%;
    max-width: 760px;
    padding: 4rem 2rem;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

.recent_work_header {
    margin: 2rem auto 1rem;
    width: 100%;
    max-width: 1440px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.recent_work_image_container a {
    width: 47%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recent_work_image_container a:nth-child(2n+1) {
    margin-right: 5%;
    margin-bottom: 5%;
}

footer {
    position: fixed;
    z-index: 9;
    right: 1.5rem;
    bottom: 1.5rem;
    padding: 0;
    margin: 0;
    height: 32px;
}

footer ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 8px;
    border-radius: 16px;
    height: 32px;
    width: 32px;
    position: relative;
}

footer ul li:not(:first-child) {
    margin: 0 0 0 8px;
}

.footer_icon_dribbble {
    fill: hsl(320, 88%, 60%);
}

.footer_icon_twitter {
    fill: hsl(210, 100%, 52%);
}

.footer_icon_github {
    fill: hsl(264, 100%, 40%);
}

footer ul li a {
    height: 16px;
    width: 16px;
    display: inline-block;
}

.footer_tooltip {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: inherit;
    top: -36px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 6px;
    border-radius: 4px;
    color: hsl(200, 16%, 98%);
    text-shadow: 0 1px 0 hsla(200, 16%, 6%, 0.25);
    font-size: 0.875rem;
    line-height: 1;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
}

.dribbble_tooltip {
    background: hsl(320, 88%, 60%);
}

.twitter_tooltip {
    background: hsl(210, 100%, 52%);
}

.github_tooltip {
    background: hsl(264, 100%, 40%);
}

footer ul li .tooltip_link:hover>.footer_tooltip {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: 0.25s all;
    -webkit-transition: 0.25s all;
}

.footer_tooltip::after {
    content: '';
    height: 0px;
    width: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
}

.dribbble_tooltip::after {
    border-top: 8px solid hsl(320, 88%, 60%);
}

.twitter_tooltip::after {
    border-top: 8px solid hsl(210, 100%, 52%);
}

.github_tooltip::after {
    border-top: 8px solid hsl(264, 100%, 40%);
}

footer ul li a:hover>svg path {
    fill: hsl(200, 16%, 6%);
}

/*********************** START Tools Page Desktop Styling ***********************/

.tools_main {
    position: relative;
    top: -7rem;
    margin: 0 0 7rem;
}

.tools_hero {
    position: relative;
    width: 100%;
    padding: 14rem 0 8rem;
    background: hsl(210, 100%, 72%);
    background-image: linear-gradient(320deg, hsl(190, 100%, 64%), hsl(200, 100%, 94%));
}

.tools_intro,
.tools_section,
.tools_category {
    margin: 0 auto;
    max-width: 1056px;
}

.tools_intro {
    padding: 8rem 2rem 0;
}

.tools_category {
    padding: 4rem 2rem 0;
    position: relative;
}

.tools_category h2 {
    color: hsl(200, 16%, 6%);
}

.tools_section {
    padding: 2rem;
    position: relative;
}

.tools_intro::before,
.software_section::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 0.125rem;
    border-radius: 0.0625rem;
    background-color: hsla(200, 16%, 56%, 0.24);
}

.tools_intro::before {
    top: 0;
}

.software_section::after {
    bottom: 0;
}

.tools_section h3 {
    margin-bottom: 0.75rem;
}

.tools_section p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.tools_hero h1 {
    text-align: center;
    line-height: 0.8;
}

.tools_hero h1,
.tools_hero p {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 2rem;
    color: hsl(200, 24%, 16%);
}

.tools_hero p {
    margin: 2.5rem auto 0;
    max-width: 720px;
}

.tools_card_container {
    display: inline-flex;
    flex-wrap: wrap;
}

.tools_card {
    display: flex;
    flex-direction: column;
    margin: 0 0 4rem 0;
    width: 47%;
    /*max-width: 400px;*/
}

.tools_card:nth-child(odd) {
    margin-right: 6%;
}

.tools_card figure,
.tools_card figure svg,
.tools_card img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hardware_section .tools_card_container .tools_card figure,
.hardware_section .tools_card_container .tools_card figure svg {
    background: hsl(200, 16%, 98%);
}

.recent_work_image_container a,
.tools_card figure,
.tools_card img {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
}

.recent_work_image_container a:hover img,
.tools_card a:hover figure,
.tools_card a:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    box-shadow: 0 12px 48px 0 hsla(200, 16%, 6%, 0.16), 0 4px 16px 0 hsla(200, 16%, 6%, 0.04);
}

.tools_card_title_container {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 1.25rem 0 0 0;
    line-height: 1;
}

.hardware_name {
    display: flex;
    flex-direction: column;
}

.hardware_tool h4 span {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.tools_card_title_container h4,
.tools_card_title_container a,
.hardware_tool h4 span:second-child {
    line-height: 1;
    padding: 0;
    margin: 0;
}

.tools_card_title_container h4,
.hardware_tool h4 span:second-child {
    color: hsl(200, 16%, 6%);
    font-size: 1.25rem;
}

.tools_card_title_container a {
    color: hsl(220, 100%, 50%);
    text-decoration: none;
    text-align: right;
    line-height: 1;
    position: relative;
    padding-right: 1.25rem;
}

.tools_card_title_container a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0.125rem;
    height: 12px;
    width: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cg%3E%3Cg fill='none' fill-rule='evenodd' stroke-linejoin='round'%3E%3Cpath stroke='%2305f' stroke-width='2' d='M9 8v3H1V3h3'%3E%3C/path%3E%3Cpath stroke='%2305f' stroke-width='2' d='M6 1h5v5'%3E%3C/path%3E%3Cpath stroke='%2305f' stroke-width='2' d='M11 1L5 7'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    opacity: 0.5;
}

.tools_card_title_container a:hover::after {
    opacity: 1;
}

.hardware_tool h3 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.hardware_tool h4 span:first-child {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    color: hsl(200, 16%, 40%)
}

.tools_card_text_container {
    margin-top: 1.375rem;
}

.card_description {
    margin-top: 1.25rem;
}

.tools_card_text_container p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0;
}

.tools_card_text_container a {
    color: hsl(220, 100%, 50%);
}

tools_card_text_container p a:hover {
    text-decoration: underline;
}

.tools_card_text_container ul,
.tools_card_text_container ul li {
    padding: 0;
    margin: 0;
}

.tools_card_text_container ul {
    list-style: none;
    font-size: 0.875rem;
    margin-top: 0.625rem;
}

.tools_card_text_container ul li {
    margin-left: 1.25rem;
    position: relative;
    line-height: 1.25rem;
}

.tools_card_text_container ul li:not(:first-child) {
    margin-top: 0.75rem;
}

.tools_card_text_container ul li::before {
    content: '';
    position: absolute;
    left: -1.25rem;
    top: 0.375rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: hsla(200, 100%, 50%, 0.5);
    border-radius: 0.25rem;
}

.tools_disclaimer {
    margin: 4rem auto 0;
    padding-bottom: 0;
}

.tools_disclaimer h4 {
    margin-bottom: 1.5rem;
}

.tools_disclaimer p {
    font-size: 0.875rem;
}

/*********************** END Tools Page Desktop Styling ***********************/

@media screen and (max-width: 760px) {
    nav {
        background: hsl(200, 16%, 98%);
        position: fixed;
    }

    .home_hero_text_block {
        padding: 9rem 2rem 2rem;
    }

    .recent_work_image_container a,
    .recent_work_image_container a:nth-child(2n+1) {
        width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 2.5rem;
    }

    .recent_work_image_container img {
        width: 100%;
    }

    .tools_main {
        margin: 7rem 0;
        top: 0;
    }

    .tools_hero {
        padding: 7rem 0 8rem;
    }

    .tools_card_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        /*max-width: 400px;*/
    }

    .tools_card:nth-child(2n+1) {
        margin-right: unset;
    }

    .tools_card {
        margin: 0 0 4rem;
        width: 100%;
    }

    .tools_card figure,
    .tools_card figure svg,
    .tools_card img {
        width: 100%;
        max-width: none;
    }

    .recent_work_image_container a:hover img,
    .tools_card a:hover figure,
    .tools_card a:hover img {
        transform: none;
        -webkit-transform: none;
    }
}

/* Dark Mode Styling */

@media (prefers-color-scheme: dark) {

    body,
    html,
    main,
    section,
    footer ul li,
    .recent_work_image_container {
        background: hsl(200, 16%, 6%);
    }

    p {
        color: hsl(200, 16%, 52%);
    }

    .tools_hero {
        background: hsl(220, 100%, 24%);
        background-image: linear-gradient(160deg, hsl(210, 100%, 12%) 0%, hsl(230, 100%, 28%) 100%);
    }

    .tools_hero h1,
    .tools_hero p {
        color: hsl(200, 16%, 98%);
    }

    li a,
    li a:focus,
    a {
        color: hsl(220, 100%, 50%);
        text-decoration: none;
    }

    .home_hero_link svg {
        stroke: hsl(210, 100%, 24%);
    }

    .home_hero_link:hover svg {
        stroke: hsl(200, 100%, 48%)
    }

    ::selection {
        background: hsl(200, 16%, 98%);
        color: hsl(200, 16%, 6%);
    }

    a::selection {
        background: hsl(220, 100%, 50%);
        color: hsl(200, 16%, 98%);
    }

    ::-moz-selection {
        background: hsl(200, 16%, 98%);
        color: hsl(200, 16%, 6%);
    }

    nav .active,
    nav u li a:active,
    nav .active:hover,
    nav li a:hover,
    li a:hover,
    h1,
    h3,
    h4,
    .home_hero_link:hover span,
    p span {
        color: hsl(200, 16%, 98%);
        text-decoration: none;
    }

    .tools_category h2,
    h2,
    .tools_intro h2 {
        color: hsl(200, 16%, 84%);
    }

    .hardware_section .tools_card_container .tools_card figure,
    .hardware_section .tools_card_container .tools_card figure svg,
    .hardware_section .tools_card_container .tools_card img {
        background: hsl(200, 16%, 6%);
    }

    .hardware_tool h4 span:first-child {
        color: hsl(200, 16%, 64%);
    }

    .tools_card_title_container h4,
    .hardware_tool h4 span:second-child {
        color: hsl(200, 24%, 92%);
    }

    .tools_card_text_container a {
        text-decoration: underline;
    }

    .tools_card_title_container a:hover,
    .tools_card_text_container a:hover {
        color: hsl(200, 16%, 98%);
    }

    .tools_card_text_container p,
    .tools_card_text_container ul {
        color: hsl(200, 16%, 64%);
    }

    footer ul li a:hover>svg path {
        fill: hsl(200, 16%, 98%);
    }
}

@media (prefers-color-scheme: dark) and (max-width: 760px) {
    nav {
        background: hsl(200, 16%, 6%);
        position: fixed;
    }

}

@media screen and (max-width: 440px) {
    nav {
        height: 5rem;
    }

    .inner_nav_container a {
        transform: scale(0.75);
    }

    .nav_logo {
        /*transform: scale(0.75);*/
        width: 100%;
        height: 100%;
    }

    .inner_nav_container {
        padding: 0 0.75rem 0 1rem;
        height: 5rem;
    }

    nav ul li a::before {
        top: -0.875rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    p,
    .tools_card_text_container p,
    .tools_card_text_container ul,
    .tools_disclaimer p {
        font-size: 0.8125rem;
    }

    .home_main p {
        font-size: 1.25rem;
    }

    .tools_main {
        margin: 5rem 0;
    }

    .tools_hero h1 {
        font-size: 3.5rem;
    }

    .tools_hero p {
        font-size: 1rem;
    }

    .tools_card {
        margin: 0 0 2.5rem;
    }

    .tools_card_text_container ul li {
        line-height: 1rem;
    }

    .tools_card_text_container ul li {
        margin-left: 1.125rem;
    }

    .tools_card_text_container ul li::before {
        left: -1.125rem;
        top: 0.25rem;
    }

    .tools_card_title_container a {
        font-size: 0.875rem;
    }

    .tools_card_title_container a::after {
        top: 0.0625rem
    }

    .home_hero_text_block {
        padding: 4rem 1.5rem 0;
    }

    .tools_category,
    .tools_section,
    .home_recent_work {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    footer {
        bottom: 1rem;
        right: 1rem;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 3rem;
    }
}