* {
    -webkit-overflow-scrolling: touch;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
    -ms-overflow-style: none;
    background: hsl(200, 24%, 96%);
    height: 100%;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scrollbar-width: none !important;
}

body {
    margin: 0;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: none !important;
}
          
body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: none !important;
    visibility: hidden;
    opacity: 0;
    display: none;
}

footer,
nav,
section,
main  {
    display: block;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

svg:not(:root) {
    overflow: visible;
}

::selection {
    background: hsl(200, 24%, 4%);
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background: hsl(200, 24%, 4%);
    color: white;
    text-shadow: none;
}

ul {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 24px;
}

main {
    width: 100%;
    max-width: none;
    margin: 0 auto;
}

svg {
    display: block;
}

html {
    font-size: 16px;
    line-height: 1.75;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
    color: inherit;
}

.landing-page-main {
    position: relative;
    width: 100%;
    top: 0;
}

.landing-page-text-block {
    width: 100%;
    max-width: 760px;
    position: absolute;
    z-index: 100;
    /*! top: calc(4vh - 24px); */
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 24px 40px;
}

nav {
    height: 128px;
}

.nav-logo {
    position: relative;
    top: 40px;
    left: 40px;
}

h1 {
    clear: both;
    color: hsl(210, 24%, 8%);
    letter-spacing: -0.005rem;
    line-height: 4.1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 4.025rem;
    position: relative;
    overflow-x: visible;
    margin-left: -3px;
}

p {
    font-family: 'Neuton', serif;
    font-size: 1.35rem;
    color: hsl(200, 16%, 24%);
    letter-spacing: 0.04rem;
    max-width: 640px;
    line-height: 1.45;
    font-weight: 100;
}

p a {
    color: hsl(220, 100%, 56%);
    font-weight: 600;
    text-decoration: underline 1px solid transparent;
}

p a:hover {
    color: hsl(210, 24%, 16%);
    text-decoration: underline 1px solid hsl(210, 24%, 16%);
}

.external-link {
    height: 20px;
    cursor: pointer;
}

a>.external-link svg {
    display: inline-block;
    margin-left: 12px;
    margin-bottom: -2px;
    stroke: hsla(200, 100%, 50%, 0.75);
    stroke-width: 2px;
}

a:hover>.external-link svg {
    stroke: hsla(240, 100%, 50%, 1);
    stroke-width: 3px;
    text-decoration: none;
}

/* Dark Mode Styling */

@media (prefers-color-scheme: dark) {
    * body, html, main, section {
        background: hsl(200, 24%, 4%);
    }
    h1 {
        color: hsl(200, 24%, 92%);
    }
    p {
        color: hsl(200, 16%, 48%);
    }
    p a:hover {
        color: hsl(210, 24%, 88%);
        text-decoration: underline 1px solid hsl(210, 24%, 88%);
    }
    a>.external-link svg {
        stroke: hsla(210, 100%, 50%, 0.45);
    }
    a:hover>.external-link svg {
        stroke: hsl(210, 100%, 50%);
    }
    ::selection {
        background: hsl(210, 100%, 94%);
        color: hsl(200, 24%, 4%);
        text-shadow: none;
    }
    ::-moz-selection {
        background: hsl(210, 100%, 94%);
        color: hsl(200, 24%, 4%);
        text-shadow: none;
    }
}